.item {
  min-width: 10rem;
  padding: 0.5rem 1.75rem;
  text-align: left;
}

.caption {
  text-transform: capitalize;
}

.stats {
  display: flex;
  gap: 2rem;
  min-width: 20rem;
  padding: 1rem 3rem;
  font-weight: 700;
  text-transform: uppercase;
}

.statsMeta {
  &:first-child {
    flex-grow: 1;
  }
}
